In [1]:
# Initial imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from path import Path
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression # logestic reg is a linear model also 
                                                    #linear regression is another ex of a linear model"

In [2]:
np.random.seed(42)

In [3]:
#loading test data
X_test= pd.read_csv("Resources/X_test_SMOTEENN_balanced_unscaled_train_dataset.csv")
X_train = pd.read_csv("Resources/X_train_SMOTEENN_balanced_unscaled_train_dataset.csv")
y_test = pd.read_csv("Resources/y_test_SMOTEENN_balanced_unscaled_train_dataset.csv")
y_train = pd.read_csv("Resources/y_train_SMOTEENN_balanced_unscaled_train_dataset.csv")

In [4]:
X_test.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,72.0,1,0,1,3,1,114.01,31.8,1
1,0,44.0,0,0,1,2,0,68.42,43.2,3
2,0,35.0,0,0,1,0,0,89.11,24.4,2
3,1,26.0,0,0,0,2,1,190.67,20.2,2
4,1,68.0,0,0,1,2,0,116.23,26.1,2

In [5]:
Xs =[]
ys = []
cmlabel = []

features= ['gender', 'age','hypertension','heart_disease', 'ever_married', 'work_type',
           'Residence_type','avg_glucose_level', 'bmi', 'smoking_status']

In [6]:
#Drop non med features
X_test.drop(columns =['ever_married', 'work_type', 'Residence_type'])
X_train.drop(columns =['ever_married', 'work_type', 'Residence_type'])

,gender,age,hypertension,heart_disease,avg_glucose_level,bmi,smoking_status
0,0,64.0,1,0,93.78,24.4,2
1,0,32.0,0,0,104.92,22.6,2
2,0,5.0,0,0,59.61,17.1,0
3,1,70.0,0,0,64.41,29.4,3
4,1,44.0,0,0,99.34,33.1,2
...,...,...,...,...,...,...,...
3859,1,11.0,0,0,56.33,18.1,0
3860,1,22.0,0,0,111.10,26.6,2
3861,1,81.0,0,0,234.35,25.3,1
3862,0,37.0,0,0,72.09,24.1,3
3863,0,57.0,0,0,169.97,25.8,2

In [7]:
def train_test_logistic(X_train, y_train, X_test, y_test):

    ## Creating the classifier instance
    global log_re
    log_re = LogisticRegression(solver='lbfgs', random_state=1, max_iter = 400)
    
    # Fitting the model
    log_re = log_re.fit(X_train, y_train)
    
    # Making predictions using the testing data
    predictions = log_re.predict(X_test)
    
    # Calculating the confusion matrix
    cm = confusion_matrix(y_test, predictions)
    cm_df = pd.DataFrame(
        cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
    )

    # Calculating the accuracy score
    acc_score = accuracy_score(y_test, predictions)
    
    # Displaying results
    print("Logistic Regression")
    #print(f"Confusion Matrix:{label}")
    display(cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report(y_test, predictions))

In [8]:
train_test_logistic(X_train, y_train, X_test, y_test)

/Users/jasonm/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Logistic Regression

          Predicted 0  Predicted 1
Actual 0          924            0
Actual 1           41            1

Accuracy Score : 0.9575569358178054
Classification Report
              precision    recall  f1-score   support

           0       0.96      1.00      0.98       924
           1       1.00      0.02      0.05        42

    accuracy                           0.96       966
   macro avg       0.98      0.51      0.51       966
weighted avg       0.96      0.96      0.94       966