In [1]:
# Initial imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from path import Path
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression # logestic reg is a linear model also 
                                                    #linear regression is another ex of a linear model"

In [2]:
np.random.seed(42)

In [3]:
#loading test data
X_test= pd.read_csv("Resources/X_test_actual_balanced_unscaled_train_dataset.csv")
X_train = pd.read_csv("Resources/X_train_actual_balanced_unscaled_train_dataset.csv")
y_test = pd.read_csv("Resources/y_test_actual_balanced_unscaled_train_dataset.csv")
y_train = pd.read_csv("Resources/y_train_actual_balanced_unscaled_train_dataset.csv")

In [4]:
X_test.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,0,79.0,0,0,1,3,1,228.70,26.6,2
1,0,68.0,1,1,1,2,1,247.51,40.5,1
2,0,69.0,0,0,0,2,1,94.39,22.8,2
3,1,59.0,0,0,1,2,0,96.16,44.1,0
4,1,48.0,0,0,1,2,0,98.24,34.6,2

In [5]:
Xs =[]
ys = []
cmlabel = []

features= ['gender', 'age','hypertension','heart_disease', 'ever_married', 'work_type',
           'Residence_type','avg_glucose_level', 'bmi', 'smoking_status']

In [6]:
#drop non medical features
X_test.drop(columns =['ever_married', 'work_type', 'Residence_type'])
X_train.drop(columns =['ever_married', 'work_type', 'Residence_type'])

,gender,age,hypertension,heart_disease,avg_glucose_level,bmi,smoking_status
0,1,78.0,0,0,133.19,23.6,1
1,0,69.0,0,0,103.73,34.7,2
2,0,41.0,0,0,91.93,24.7,3
3,0,56.0,0,0,162.23,27.3,0
4,1,12.0,0,0,76.26,20.5,2
...,...,...,...,...,...,...,...
327,1,54.0,0,0,71.22,28.5,2
328,0,70.0,0,0,221.58,47.5,2
329,0,51.0,0,0,85.59,30.5,2
330,0,38.0,0,0,196.20,32.8,2
331,0,78.0,1,0,203.87,45.7,2

In [7]:
def train_test_logistic(X_train, y_train, X_test, y_test):

    ## Creating the classifier instance
    global log_re
    log_re = LogisticRegression(solver='lbfgs', random_state=1, max_iter = 400)
    
    # Fitting the model
    log_re = log_re.fit(X_train, y_train)
    
    # Making predictions using the testing data
    predictions = log_re.predict(X_test)
    
    # Calculating the confusion matrix
    cm = confusion_matrix(y_test, predictions)
    cm_df = pd.DataFrame(
        cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
    )

    # Calculating the accuracy score
    acc_score = accuracy_score(y_test, predictions)
    
    # Displaying results
    print("Logistic Regression")
    #print(f"Confusion Matrix:{label}")
    display(cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report(y_test, predictions))

In [8]:
train_test_logistic(X_train, y_train, X_test, y_test)

/Users/jasonm/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Logistic Regression

          Predicted 0  Predicted 1
Actual 0           35            7
Actual 1            6           36

Accuracy Score : 0.8452380952380952
Classification Report
              precision    recall  f1-score   support

           0       0.85      0.83      0.84        42
           1       0.84      0.86      0.85        42

    accuracy                           0.85        84
   macro avg       0.85      0.85      0.85        84
weighted avg       0.85      0.85      0.85        84